    // Style Variables

// Colors
$primary-color: #455a64;
$secondary-color: #37474f;
$border-color: #212121;
$font-color: #e8eaf6;

// Fonts
$header-font: "Montserrat-Regular";
$main-font: "Montserrat-Regular";

        // CSS Properties
// Useful Properties

.unshown {
    display: none;
}
    // (only works inside "position: relative" parent elements)
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Cross-Application
html {
    // Makes font-sizes based on 'em' and 'rem' responive to the viewport width.
    font-size: 2.5vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $main-font;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
// .App {
    
// }

    // Intro
.Intro {
    height: 100vh;
    background-color: $primary-color;
    color: $font-color;
    font-family: $header-font;
    position: relative;

    .container {
        text-align: center;
        width: 50vw;
        height: 33vh;
        opacity: 0.8;
        background-color: $secondary-color;
        border: 1px solid $border-color;
        border-radius: 15px 15px 15px;

        // Header
        :first-child {
            font-size: 0.9rem;
        }

        // Sub-Header
        :nth-child(3) {
            font-size: 0.65rem;
        }

        .description {
            font-family: $main-font;
            width: 33vw;
            margin-top: 0;
            padding: 2.5vw;
            padding-top: 0;
            
            font-size: 0.65rem;
        }
    }

    .animation-controller {
        font-family: $main-font;
        position: absolute;

        opacity: 0.8;
        color: $font-color;
        background-color: $secondary-color;
        border: 1px solid $border-color;
        border-radius: 15px 15px 15px;
        padding: 1.5vh;
        margin: 2.5vh;
        bottom: 0;
        right: 0;
        font-size: 0.35rem;

        .header {
            font-family: $header-font;
            font-size: 0.35rem;
        }

        div {
            margin-top: 1.5vh;
            padding-bottom: 0.5vh;
        }

        #renderer {
            margin-left: 0.5vw;
        }
    }
}

.Navbar {
    .container {
        position: relative;
        width: 25%;
        margin-top: 10%;
        height: 5vh;
    }
    
}


    // About 
.About {
    height: 100vh;
    border: 1px solid blue;
}

// Works
.Works {
    height: 100vh;
    border: 1px solid yellow;
}

// Connect 
.Connect {
    height: 100vh;
    border: 1px solid red;
}