// Style Variables

// Colors

$global-colors: (
        primary: #1F3039,
        secondary: #34346C,
        border: #212121,
        font: #F8F9F9,
        font-secondary: #ED942C,
        font-link: #977DD1,
);

$intro-colors: (
        primary: #31425F,
        secondary: #999AA2,
        border: #94A1B6,
);

$about-colors: (
        primary: #323A6A,
        secondary: #6C6862,
        bright: #2EB4D5,
);

$experience-colors: (
        primary: #3D5179,
        secondary: #AB625E,
        border: #EAC683,
);

$connect-colors: (
        primary: #3A7BAB,
        secondary: #716F82,
        border: #606072,
);

// Fonts
$header-font: "Montserrat-Regular";
$main-font: "Montserrat-Regular";

// CSS Properties
// Useful Properties

.unshown {
  display: none !important;
}

// (experience inside "position: absolute" parent elements)
.center {
  margin: 0;
  position: absolute;
  margin-top: 22.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Cross-Application
html {
  // Makes font-sizes based on 'em' and 'rem' responive to the viewport width.
  font-size: 2.5vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  //overflow-y: hidden;
  font-family: $main-font;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: top !important;
}

.row {
  margin: 0 !important;
}

.section {
  height: 120vh;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.box {
  text-align: center;
  pointer-events: auto;
  background-color: map-get($global-colors, primary);
  color: map-get($global-colors, font);
  width: 80vw;
  height: 80vh;

  border-radius: 10px 10px 10px;

  -webkit-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
  box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);

  //border: 1px solid red;

  .header {
    font-family: $main-font;
    color: map-get($global-colors, font-secondary);
    font-size: 0.75rem;
    margin: 0;
  }

  .sub-header {
    font-family: $main-font;
    font-size: 0.7rem;
    margin: 0;
    margin-top: 1vh;
  }

  .sub-header2 {
    font-family: $main-font;
    font-size: 0.5rem;
    margin: 0;
    margin-top: 1vh;
    line-height: 1.3;
  }

  .description {
    width: 33vw;
    margin-top: 0;
    padding: 2.5vw;
    padding-top: 0;

    font-size: 0.651rem;
  }
}

.introBoxMobile {
  height: 95vw !important;
  width: 80vw !important;
  top: 46vw !important;

  @media screen and (min-width: 340px) {
    height: 88vw !important;
    top: 38vw !important;

  }
}

.boxMobile {
  .header {
    font-size: 1.7rem !important;

    .span {
      line-height: 1rem;
    }
  }

  .sub-header {
    font-size: 1.4rem;
  }

  .sub-header2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.2rem !important;
    margin: 0 !important;
    margin: auto !important;
  }
}

#intro-link {
  position: absolute;
  width: 10vw;
}

.link {
  font-weight: 600;
  color: map-get($global-colors, font-secondary);
}

.link:hover {
  opacity: 0.8 !important;
  color: map-get($global-colors, font-secondary);
}


#Background {
  height: 100vh;
  font-family: $header-font;
  position: fixed;
  width: 100%;

  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  transition: background-color 1s linear;

  .chev-box {
    position: fixed;
    height: 5vh;
    width: 5vh;
    right: 1vw;
    bottom: calc(40% - 2.5vh);
    background-color: map-get($global-colors, primary);
    border-radius: 10px 10px 10px 10px;

    img {
      height: 5vh;
      width: 5vh;
    }

    .left-chev {
      cursor: pointer;
      transition: all 0.3s linear;
      transform: rotate(-90deg);
      margin-left: 0.5vw;
    }

    .right-chev {
      cursor: pointer;
      transition: all 0.3s linear;
      transform: rotate(90deg);
      margin-left: -0.5vw;
    }


  }

  #to-top {
    bottom: calc(40% + 12.5vh);

    .up-chev {
      cursor: pointer;
      transition: all 0.3s linear;
      transform: rotate(180deg);
      margin-top: -0.5vh;
    }
  }

  #lower {
    bottom: calc(40% + 5vh);

    .down-chev {
      cursor: pointer;
      transition: all 0.3s linear;
      margin-top: 1vh;
    }
  }


  .animation-controller {
    z-index: 5000 !important;
    font-family: $main-font;
    position: absolute;
    width: 15vw;

    color: map-get($global-colors, font);
    background-color: map-get($global-colors, primary);

    -webkit-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
    box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);

    transition: right 0.75s linear;
    opacity: 0.95;
    border-radius: 10px 10px 10px;
    padding: 1.5vh;
    bottom: 1vh;
    right: 2vw;
    font-size: 0.35rem;

    .header {
      font-family: $header-font;
      font-size: 0.35rem;
    }

    div {
      margin-top: 1.5vh;

      padding-bottom: 0.5vh;
    }

    #renderer {
      margin-left: 0.5vw;
    }
  }

  .animation-controller-mobile {
    width: 50vw !important;
    bottom: -17.5vw;
    transform: translate(-50%, -50%);

    .header {
      font-size: 1.2rem;
    }

    div {
      font-size: 1rem;
    }

    input {
      width: 75%;
      font-size: 1rem;
    }
  }

  .animation-controller-hidden {
    right: -20vw;

    @media screen and (min-width: 250px) and (max-width: 750px) {
      right: -80vw;
    }
  }
}


.NavBar {
  transition: all 0.5s linear;

  .box {
    position: fixed;
    height: 100vh;
    padding-top: 33vh;
    width: 8vw;
    z-index: 50;
    border-radius: 0;
    background-color: map-get($global-colors, primary);

    .nav-item {
      color: map-get($global-colors, font);
      cursor: pointer;
      padding: 0.15rem;
      font-size: 0.6rem;
      display: inline-block;
      width: 100%;
      height: 5vh;
    }

    .nav-item-active {
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
}

.NavBar-mobile {
  .box {
    padding-top: 0;
    width: 100%;
    height: 5vh;
  }

  .nav-item {
    width: 25% !important;
    float: left;
    font-size: 1.4rem !important;
    @media screen and (min-width: 340px) and (max-width: 400px) {
      font-size: 1.7rem !important;
    }
  }
}

.NavBar-hidden {
  margin-left: -8vw;
}

// Intro
.Intro {
  position: relative;

  .box {
    width: 60vw;
    height: 17.5vw;
    padding: 2.5vw;

    .header {
      color: map-get($global-colors, font);
      font-size: 1.2rem;
    }

    .chevron-box {
      .down-chevs {
        margin: 1vw;
        width: 3vw;
      }
    }

    .chevron-box-mobile {
      .down-chevs {
        margin: 0.5vw;
        width: 7vw;
      }
    }

    #profile-picture {
      img {
        width: 50vw;
        margin: 2.5vw;
        margin-top: 2vh;
      }

      div {
        font-size: 0.6em;
        margin: auto;
      }
    }
  }


  #neeko-blomgren {
    color: map-get($global-colors, font-secondary);
  }
}

.Background-Intro {
  background-color: map-get($intro-colors, primary);
  color: blue;
  font-family: $header-font;
}

// About
#About {
  .box {
    top: 6.5vh;
    height: 80vh;

    h3 {
      padding-top: 2.5vh;
    }
  }

  .header {
    display: inline-block;
    text-align: center !important;
  }

  #profile-picture {
    img {
      width: 90%;
      margin: 5%;
      margin-top: 5vh;
    }

    div {
      font-size: 0.6em;
      margin: auto;
    }

    .icon-list {
      margin-top: 1vw;

      a {
        margin: 0.25vw;
      }

      img {
        width: 3.5vw !important;
        margin: 5px !important;
      }

      img:hover {
        -webkit-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
        box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
      }
    }
  }


  #about-content {
    .hexagon {
      position: absolute;
      transition: all 1s ease 0s;
    }

    .hexagon:nth-child(2n-1) {
      right: 8vw;
    }

    .expandable-row1-shown {
      top: 7vw;
    }

    .expandable-row2-shown {
      top: 11vw;
    }

    .expandable-row3-shown {
      top: 15vw;
    }

    .expandable-row4-shown {
      top: 19vw;
    }

    p {
      font-size: 0.55rem;
      width: 85%;
      margin: auto;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    .inner-emblem {
      padding-top: 4vh;
      width: 16vw;
      line-height: 1.2;
    }

    .inner-emblem-list {
      line-height: 0.85;
      //padding-top: 10vh !important;
    }

    .emblem-box {
      @media screen and (min-width: 250px) and (max-width: 750px) {
        width: 100%;
        .emblem-section {
          width: 90%;
          margin: auto;
        }
        .emblem {
          width: 50%;
          font-size: 1.2rem !important;
          height: 7vw !important;
        }
        .hexagon {
          width: 23.5vw;
          top: -0.2vw;
          position: relative;
          font-size: 0.85rem !important;
        }
        .hexagon:nth-child(2n-1) {
          right: 0;
        }
        .inner-emblem {
          padding-top: 1.5vw;
          padding-bottom: 2.5vw;
          width: auto !important;
        }
        .subEmblem {
          margin-top: 0 !important;
        }
      }
    }

    .content-section {
      .emblem {
        z-index: 5;
        height: 6vw;
        font-size: .65rem;
        background-color: map-get($about-colors, primary);
      }

      .subEmblem {
        z-index: 4;
        margin-top: -12vh;
      }
    }
  }
}

.hexagon {
  font-size: 0.45rem;
  display: inline-block;
  margin: 0.2vw;
  margin-top: -2vh;
  padding: 1vw;
  line-height: 0.9;
  width: 7.5vw;
  height: 4vw;
  top: 2vw;
  background-color: map-get($about-colors, primary);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon-shape {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.Background-About {
  background-color: map-get($about-colors, primary);

  font-family: $header-font;
}

.box-About {

}

// experience
#Experience {
  .banner {
    border: 1px solid white;

    .sub-header {
      margin-bottom: 1vw;
    }

    &:hover {
      -webkit-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
      box-shadow: 3px 6px 14px 7px rgba(0, 0, 0, 0.29);
    }

    font-size: 0.6rem !important;
    overflow-y: hidden;
    height: 10%;
    transition: all 0.7s linear;
  }

  .banner-expanded {
    height: 80%;
    border: none;
    z-index: 5000;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .hexagon {
    margin-top: 0;
    height: auto;
    top: 0;
  }

  .innerHex {
    z-index: 5000;

    .expandable {
      top: 0;
      position: absolute;
      width: 20vw;

    }
  }
}

.Background-Experience {
  background-color: map-get($experience-colors, primary);
  font-family: $header-font;
}

.box-experience {
  color: map-get($experience-colors, font);
}

// Connect
#Connect {
  .box {
    top: 5vh;
  }
}

.Background-Connect {
  background-color: map-get($connect-colors, primary);
  color: map-get($connect-colors, font);
  font-family: $header-font;
}

.box-Connect {

}

