    // Style Variables

// Colors

$global-colors : (
    primary: #455a64,
    secondary: #37474f,
    border: #212121,
    font: #e8eaf6,
);

$intro-colors : (
    primary: #3F415B,
    secondary: #999AA2,
    border: #94A1B6,
    font: #F8F9F9,
);

$about-colors : (
    primary: #31425F,
    secondary: #6C6862,
    border: #72D9D3,
    font: #F4F7F5,
);

$works-colors : (
    primary: #515D56,
    secondary: #AB625E,
    border: #EAC683,
    font: #FAF9F9,
);

$connect-colors : (
    primary: #2B2E40,
    secondary: #716F82,
    border: #606072,
    font: #FAFAFA,
);

// Fonts
$header-font: "Montserrat-Regular";
$main-font: "Montserrat-Regular";

        // CSS Properties
// Useful Properties

.unshown {
    display: none;
}
    // (works inside "position: absolute" parent elements)
.center {
    margin: 0;
    position: absolute;
    margin-top: 22.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Cross-Application
html {
    // Makes font-sizes based on 'em' and 'rem' responive to the viewport width.
    font-size: 2.5vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    //overflow-y: hidden;
    font-family: $main-font;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#chevrons {
    background-image: url('./../../public/img/chevrons-down.svg')
}

// #App {
    
// }

.section {
    height:120vh;
    pointer-events: none;
    position: relative;
    //border: 1px solid red !important;
    z-index: 2;
}

.container {
    color: map-get($global-colors, font);
    background-color: map-get($global-colors, secondary);
    border: 1px solid map-get($global-colors, border);

    text-align: center;
    width: 50vw;
    height: 50vh;
    opacity: 0.9;
    border-radius: 15px 15px 15px;
    pointer-events: auto;

    .header {
        font-family: $main-font;
        font-size: 0.9rem;
        margin:0;
    }

    .sub-header {
        font-family: $main-font;
        font-size: 0.65rem;
        margin:0;
        margin-top: 1vh;
    }

    .description {
        width: 33vw;
        margin-top: 0;
        padding: 2.5vw;
        padding-top: 0;
        
        font-size: 0.65rem;
    }
}

#intro-link {
    position: absolute;
    width: 10vw;
}

#test {
    z-index: 1000;
    font-size: 1em;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
}

#Background {
    height: 100vh;
    font-family: $header-font;
    position: fixed;

    .animation-controller {
        z-index: 500 !important;
        font-family: $main-font;
        position: absolute;

        opacity: 0.9;
        
        border-radius: 15px 15px 15px;
        padding: 1.5vh;
        margin: 5vh;
        bottom: 0;
        right: 0;
        font-size: 0.35rem;

        .header {
            font-family: $header-font;
            font-size: 0.35rem;
        }

        div {
            margin-top: 1.5vh;
            
            padding-bottom: 0.5vh;
        }

        #renderer {
            margin-left: 0.5vw;
        }
    }
}

.Background-Intro {
    background-color: map-get($intro-colors, primary);
    color: map-get($intro-colors, font);
    font-family: $header-font;

    .animation-controller {
        color: map-get($intro-colors, font);
        background-color: map-get($intro-colors, secondary);
        border: 1px solid map-get($intro-colors, border);
    }
}

.Background-About {
    background-color: map-get($about-colors, primary);
    color: map-get($about-colors, font);
    font-family: $header-font;

    .animation-controller {
        color: map-get($about-colors, font);
        background-color: map-get($about-colors, secondary);
        border: 1px solid map-get($about-colors, border);
    }
}

.Background-Works {
    background-color: map-get($works-colors, primary);
    color: map-get($works-colors, font);
    font-family: $header-font;

    .animation-controller {
        color: map-get($works-colors, font);
        background-color: map-get($works-colors, secondary);
        border: 1px solid map-get($works-colors, border);
    }
}

.Background-Connect {
    background-color: map-get($connect-colors, primary);
    color: map-get($connect-colors, font);
    font-family: $header-font;

    .animation-controller {
        color: map-get($connect-colors, font);
        background-color: map-get($connect-colors, secondary);
        border: 1px solid map-get($connect-colors, border);
    }
}

    // Intro
#Intro {
    position: relative;

    .container {
        width: 50vw;
        height: 27.5vh;
        

        .chevron-container{
            width: 2.5vw;
            margin-left: calc(50% - 1.25vw);
    
            .down-chevs {
                margin: 0;
                top: -5vh;
                width: 2.5vw;
            }
        }
    }
}

#Navbar {
    .container {
        position: relative;
        width: 75%;
        margin-top: 6vh;
        height: 5vh;
        
        .nav-item {
            float: left;
            text-align: center;
            margin-left: 3.5vw;
            font-size: 0.75rem;

            animation-duration: 1s;
        }

        // :nth-child(1) {

        // }

        // :nth-child(2) {

        // }

        // :nth-child(3) {

        // }
    }
    
}


    // About 
#About {
    .container {
        width: 65vw;   
        height: 50vh
    }
}

// Works
#Works {
    .container {
        width: 80vw;   
        height: 75vh;
    }
}

// Connect 
#Connect {
    height: 100vh;
    .container {
        width: 50vw;   
        height: 35vh;
    }
}