.unshown {
  display: none;
}

.center {
  margin: 0;
  position: absolute;
  margin-top: 22.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-size: 2.5vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: top !important;
}

.row {
  margin: 0 !important;
}

.section {
  height: 110vh;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.box {
  text-align: center;
  pointer-events: auto;
  background-color: #1F3039;
  color: #F8F9F9;
  width: 80vw;
  height: 75vh;
  border-radius: 10px 10px 10px;
}
.box .header {
  font-family: "Montserrat-Regular";
  color: #ED942C;
  font-size: 0.9rem;
  margin: 0;
}
.box .sub-header {
  font-family: "Montserrat-Regular";
  font-size: 0.65rem;
  margin: 0;
  margin-top: 1vh;
}
.box .description {
  width: 33vw;
  margin-top: 0;
  padding: 2.5vw;
  padding-top: 0;
  font-size: 0.65rem;
}

#intro-link {
  position: absolute;
  width: 10vw;
}

#Background {
  height: 100vh;
  font-family: "Montserrat-Regular";
  position: fixed;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  transition: background-color 1s linear;
}
#Background #toggle-box {
  position: fixed;
  height: 5vh;
  width: 5vh;
  right: 1vw;
  bottom: calc(40% - 2.5vh);
  background-color: #1F3039;
  border-radius: 10px 10px 10px 10px;
}
#Background #toggle-box img {
  height: 5vh;
  width: 5vh;
}
#Background #toggle-box .left-chev {
  cursor: pointer;
  transition: all 0.3s linear;
  transform: rotate(-90deg);
  margin-left: 0.5vw;
}
#Background #toggle-box .right-chev {
  cursor: pointer;
  transition: all 0.3s linear;
  transform: rotate(90deg);
  margin-left: -0.5vw;
}
#Background .animation-controller {
  z-index: 5000 !important;
  font-family: "Montserrat-Regular";
  position: absolute;
  color: #F8F9F9;
  background-color: #1F3039;
  border: 1px solid #212121;
  transition: all 0.5s linear;
  opacity: 0.95;
  border-radius: 10px 10px 10px;
  padding: 1.5vh;
  bottom: 1vh;
  right: 2vw;
  font-size: 0.35rem;
}
#Background .animation-controller .header {
  font-family: "Montserrat-Regular";
  font-size: 0.35rem;
}
#Background .animation-controller div {
  margin-top: 1.5vh;
  padding-bottom: 0.5vh;
}
#Background .animation-controller #renderer {
  margin-left: 0.5vw;
}
#Background .animation-controller-hidden {
  right: -24.5vw;
}

#MyNav .box {
  position: absolute;
  height: 5vh;
  width: 100vw;
  padding-left: 31%;
  z-index: 50;
  border-radius: 0;
  background-color: #1F3039;
  border-bottom: 1px solid #F8F9F9;
}
#MyNav .box .nav-item {
  color: #F8F9F9;
  float: left;
  text-align: center;
  margin: auto;
  margin-left: 3.5vw;
  font-size: 0.75rem;
  animation-duration: 1s;
}

.MyNav-fixed {
  position: fixed !important;
  top: 0 !important;
}

#Intro {
  position: relative;
}
#Intro .box {
  width: 50vw;
  height: 20vh;
  padding: 1vw;
}
#Intro .box .header {
  color: #F8F9F9;
}
#Intro .box .chevron-box .down-chevs {
  margin: 15px;
  width: 2.5vw;
}
#Intro #neeko-blomgren {
  color: #ED942C;
}

.Background-Intro {
  background-color: #31425F;
  font-family: "Montserrat-Regular";
}

#About .box {
  top: 5vh;
}
#About .box h3 {
  padding-top: 2.5vh;
}
#About .header {
  display: inline-block;
  text-align: center !important;
}
#About #profile-picture img {
  width: 90%;
  margin: 5%;
}
#About #profile-picture div {
  font-size: 0.6em;
  margin: auto;
}
#About #about-content {
  top: 0;
  margin: 0;
}
#About #about-content p {
  font-size: 0.5em;
  width: 80%;
  margin: auto;
}
#About #about-content .content-section {
  font-size: 0.8em;
  height: 40%;
  margin-top: 1vh !important;
}
#About #about-content .content-section h5 {
  position: absolute;
  font-size: 0.8em;
  top: 7.5vh;
  text-align: center;
}
#About #about-content .content-section .emblem {
  font-size: 0.6em;
  padding-top: 5vh;
  background-color: #323A6A;
  margin-left: 2.5vw;
}
#About #about-content .content-section .emblem2 {
  background-color: #323A6A;
  font-size: 0.6em;
  margin-left: 2.5vw;
  top: -10vh;
}
#About #about-content .content-section .emblem2 h5 {
  top: 12vh;
}
#About #about-content .content-section .emblem3 {
  background-color: #323A6A;
  font-size: 0.6em;
  margin-left: 2.5vw;
  top: -20vh;
}
#About #about-content .content-section .emblem3 h5 {
  position: absolute;
  top: 11.5vh;
}
#About #about-content .emblem-section {
  margin-left: 3.5vw !important;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon2 {
  clip-path: polygon(50% 50%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.Background-About {
  background-color: #323A6A;
  font-family: "Montserrat-Regular";
}

#Works .box {
  top: 5vh;
}

.Background-Works {
  background-color: #3F415B;
  font-family: "Montserrat-Regular";
}

#Connect .box {
  top: 5vh;
}

.Background-Connect {
  background-color: #2B2E40;
  font-family: "Montserrat-Regular";
}

/*# sourceMappingURL=main.css.map */
